
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fixed-fullscreen-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.brown-bordered {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid rgb(215, 172, 93);
    background-color: rgba(106, 60, 2, 0.8);
    color: white;
    padding: 10px
}

.vocModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6a3c19;
    color: white;
    padding: 25px;
    border-radius: 15px;
    border: 4px solid #d7ac5d;
    z-index: 100
}

.vocModal-enter {
    opacity: 0.01;
    transform: translateY(-30px);
}

.vocModal-enter.vocModal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 200ms linear;
}

.vocModal-leave {
    opacity: 1;
    transform: translateY(0px);
}

.vocModal-leave.vocModal-leave-active {
    opacity: 0;
    transform: translateY(30px);
    transition: all 200ms linear;
}

.vocModalBg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: rgba(100, 100, 100, 0.5);
}

.vocModalBg-enter {
    opacity: 0.01;
}

.vocModalBg-enter.vocModalBg-enter-active {
    opacity: 1;
    transition: all 150ms linear;
}

.vocModalBg-leave {
    opacity: 1;
}

.vocModalBg-leave.vocModalBg-leave-active {
    opacity: 0;
    transition: all 150ms linear;
}

.preloadingIndicator-error {
    text-align: center;
}

.preloadingIndicator-error-options {
    font-size: smaller;
}

.preloadingIndicator-error-options a {
    cursor: pointer;
    text-decoration: underline;
}

.loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loadingIndicator .bullet {
    position: absolute;
    padding: 5px;
    margin-left: -20px;
    border: 2px solid #ad7726;
    border-radius: 50%;
    background: #decd87;
    opacity: 0;
    animation: loadingIndicatorAnimIn 1s ease-in-out 0s infinite;
}
.loadingIndicator .bullet:nth-child(1) {
    animation-delay: 0s;
}
.loadingIndicator .bullet:nth-child(2) {
    animation-delay: 0.15s;
}
.loadingIndicator .bullet:nth-child(3) {
    animation-delay: 0.3s;
}
.loadingIndicator .bullet:nth-child(4) {
    animation-delay: 0.45s;
}
@keyframes loadingIndicatorAnimIn {
    0% {
        transform: translateX(-75px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(75px);
        opacity: 0;
    }
}

.opacity-appear {
    opacity: 0.01;
}

.opacity-appear.opacity-appear-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.opacity-enter {
    opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.opacity-leave {
    opacity: 1;
}

.opacity-leave.opacity-leave-active {
    opacity: 0.1;
    transition: opacity 500ms ease-in;
}

.opacity-delayed-appear {
    opacity: 0.01;
}

.opacity-delayed-appear.opacity-delayed-appear-active {
    opacity: 1;
    transition: opacity 250ms ease-in 2s;
}

.opacity-delayed-leave {
    opacity: 1;
}

.opacity-delayed-leave.opacity-delayed-leave-active {
    opacity: 0.1;
    transition: opacity 500ms ease-in;
}
