<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="css/codeDemo.css?<%= webpack.hash %>" type="text/css" />
    <title>Code demo</title>
  </head>
  <body>
  <div id="main"/>
  <script src="<%= htmlWebpackPlugin.files.chunks['main'].entry %>"></script>
  </body>
</html>
